* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Mono', monospace, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background: linear-gradient(45deg, #593C8F, #322E18);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    color: white;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.site-name h1 {
    margin-left: 20px;
    font-size: 24px;
}

span {
    color: pink;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/* Main content Flexbox */
.main {
    display: flex;
    justify-content: center; /* Center the main content horizontally */
    align-items: center;
    padding: 40px;
    width: 100%; /* Full width */
    flex-grow: 1;
}

.introduction-text {
    flex: 0;
    font-size: 180%;
    margin-left: 10%;
    margin-right: 30px; /* Space between text and image */
}

.introduction-text h1 {
    font-family: "Courier Prime", sans-serif;
    font-size: 400%;
    margin: 10px 0;
}

.typing {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1.1s steps(6),
        cursor .4s step-end infinite alternate;
}

.bedroom-image img {
    height: auto;
    margin-right: 10%;
}

/* Background gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
        background-color: #593C8F, #322E18;
    }
    50% {
        background-position: 100% 50%;
        background-color: #E39FF6, #8A80E5;
    }
    100% {
        background-position: 0% 50%;
        background-color: #593C8F, #322E18;
    }
}

/* Cursor blinking */
@keyframes cursor {
    50% {
        border-color: transparent
    }
}

/* Typing Effect */
@keyframes typing {
    from {
        width: 0;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    
}